<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>OhmVision</title>

    <link rel="icon"
    type="image/png"
    href="{{ url_for('static', filename='favicon.png') }}">

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

<div class="container">

    <!-- HEADER -->

    <header class="header">

        <div class="logo-container">

            <img
            src="{{ url_for('static', filename='favicon.png') }}"
            alt="OhmVision Logo">

        </div>

        <div class="logo">

            Ohm<span>Vision</span>

        </div>

        <p class="subtitle">

            Resistor Detection

        </p>

    </header>

    <!-- HERO -->

    <section class="hero">

        <!-- LEFT -->

        <div class="hero-content">

            <h1>

                Detect Resistor Value

                <span>
                    Instantly Process
                </span>

            </h1>

            <p>

                Upload resistor images or use live
                camera detection, support for 4-band and
                5-band resistors.

            </p>

            <div class="feature-row">

                <!-- UPLOAD IMAGE -->

                <button class="feature-btn"
                onclick="openUpload()">

                    Upload Image

                </button>

                <!-- LIVE CAMERA -->

                <button class="feature-btn"
                onclick="openCamera()">

                    Live Detection

                </button>

                <!-- MOBILE CAMERA -->

                <button class="feature-btn"
                onclick="openMobileCamera()">

                    Capture Image

                </button>

            </div>

            <!-- HIDDEN INPUT -->

            <input type="file"
            id="uploadInput"
            accept=".jpg,.jpeg,.png"
            hidden>

            <input type="file"
            id="mobileCameraInput"
            accept="image/*"
            capture="environment"
            hidden>

        </div>

        <!-- RIGHT -->

        <div class="hero-image">

            <h2>
                Original Image
            </h2>

            <img
                id="previewImage"
                src="{% if original_image %}{{ original_image }}{% endif %}"
                {% if not original_image %}
                style="display:none;"
                {% endif %}
            >

            <div
                id="emptyState"
                class="empty-state"
                {% if original_image %}
                style="display:none;"
                {% endif %}
            >
                Upload image to begin detection
            </div>

        </div>

    </section>

    <!-- DETECTION -->

    {% if result_image %}

    <section class="detect-section">

        <!-- IMAGE -->

        <div class="camera-card">

            <h2>

                Image Detection

            </h2>

            <div class="camera-preview">

                <img src="{{ result_image }}">

            </div>

        </div>

        <!-- RESULT -->

        <div class="result-card">

            <!-- TYPE -->

            <div class="result-group">

                <p class="result-label">

                    Resistor Type

                </p>

                <h2>

                    {{ resistor_type }}

                </h2>

            </div>

            <!-- VALUE -->

            <div class="value-row">

                <div>

                    <p class="result-label">

                        Resistance Value

                    </p>

                    <div class="resistance-value">

                        {{ result_value }}

                    </div>

                </div>

                <div>

                    <p class="result-label">

                        Tolerance

                    </p>

                    <div class="tolerance-value">

                        {{ tolerance_value }}

                    </div>

                </div>

            </div>

            <!-- BAND -->

            <div class="result-group">

                <p class="result-label">

                    Detected Bands & Confidence

                </p>

                <div class="bands">

                    {% for band in bands %}

                    <div class="band-card">

                        <div class="band {{ band }}">

                            {{ band }}

                        </div>

                        <div class="band-detail">

                            <span class="band-info">

                                {{ band_info[loop.index0] }}

                            </span>

                            <span class="band-confidence">

                                {{ band_confidence[loop.index0] }}

                            </span>

                        </div>

                    </div>

                    {% endfor %}

                </div>

            </div>

            <!-- SAVE -->

            <a href="{{ url_for('download_file',
            filename=result_image.split('\\')[-1].split('/')[-1]) }}">

                <button class="main-btn">

                    Save Result

                </button>

            </a>

        </div>

    </section>

    {% endif %}

    <!-- ERROR -->

    {% if error_message %}

    <div class="error-box">

        {{ error_message }}

    </div>

    {% endif %}

    <!-- UPLOAD FORM -->

    <section class="upload-section">

        <form method="POST"
              enctype="multipart/form-data"
              id="detectForm">

            <input type="file"
                   name="image"
                   id="realFileInput"
                   hidden>

            <button type="submit"
                    class="main-btn detect-btn">

                Detect Resistor

            </button>

        </form>

    </section>

</div>

<!-- LIVE CAMERA MODAL -->

<div class="camera-modal"
id="cameraModal">

    <div class="camera-modal-content">

       <video id="video"
        autoplay></video>

        <div class="live-divider"></div>

        <canvas id="canvas"
        hidden></canvas>

        <div id="liveResult"
        style="
        margin-top:20px;
        display:none;
        ">

            <p id="liveStatus">

                🟢 Detecting...

            </p>

            <h3>
                Live Detection Result
            </h3>

            <img
            id="liveResultImage">

            <div class="live-result-card">

                <div class="result-group">

                    <p class="result-label">

                        Resistor Type

                    </p>

                    <h2 id="liveType">

                        -

                    </h2>

                </div>

                <div class="value-row">

                    <div>

                        <p class="result-label">

                            Resistance Value

                        </p>

                        <div
                        class="resistance-value"
                        id="liveValue">

                            -

                        </div>

                    </div>

                    <div>

                        <p class="result-label">

                            Tolerance

                        </p>

                        <div
                        class="tolerance-value"
                        id="liveTolerance">

                            -

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="camera-actions">

            <button class="feature-btn"
            onclick="startDetection()">

                Start Detection

            </button>

            <button class="feature-btn"
            onclick="stopDetection()">

                Stop Detection

            </button>

            <button class="feature-btn"
            onclick="closeCamera()">

                Close

            </button>

        </div>

    </div>

</div>

<!-- LOADING -->

<div class="loading-overlay"
id="loadingOverlay">

    <div class="loader"></div>

    <p>

        Scanning resistor...

    </p>

</div>

<!-- TOAST -->

<div class="toast"
id="toast">

    Detection Completed Successfully

</div>

<script>

const uploadInput =
document.getElementById(
"uploadInput"
);

const mobileInput =
document.getElementById(
"mobileCameraInput"
);

const realInput =
document.getElementById(
"realFileInput"
);

const form =
document.getElementById(
"detectForm"
);

const detectBtn =
document.querySelector(
".detect-btn"
);

detectBtn.disabled = true;

const loading =
document.getElementById(
"loadingOverlay"
);

const modal =
document.getElementById(
"cameraModal"
);

const video =
document.getElementById(
"video"
);

const canvas =
document.getElementById(
"canvas"
);

let stream;
let detectionInterval = null;

function showToast(message){

    const toast =
    document.getElementById(
    "toast"
    );

    toast.innerHTML =
    message;

    toast.classList.add(
    "show"
    );

    setTimeout(()=>{

        toast.classList.remove(
        "show"
        );

    },2000);
}

// =====================
// UPLOAD IMAGE
// =====================

function openUpload(){

    uploadInput.click();
}

uploadInput.addEventListener(
"change",
()=>{

    const file =
    uploadInput.files[0];

    if(!file) return;

    const dt =
    new DataTransfer();

    dt.items.add(file);

    realInput.files =
    dt.files;

    const preview =
    document.getElementById(
    "previewImage"
    );

    const empty =
    document.getElementById(
    "emptyState"
    );

    preview.src =
    URL.createObjectURL(file);

    preview.style.display =
    "block";

    empty.style.display =
    "none";

    detectBtn.disabled = false;

    detectBtn.innerHTML =
    "Detect Resistor";

});

// =====================
// MOBILE CAMERA
// =====================

function openMobileCamera(){

    mobileInput.click();
}

mobileInput.addEventListener(
"change",
()=>{

    const file =
    mobileInput.files[0];

    if(!file) return;

    const dt =
    new DataTransfer();

    dt.items.add(file);

    realInput.files =
    dt.files;

    const preview =
    document.getElementById(
    "previewImage"
    );

    const empty =
    document.getElementById(
    "emptyState"
    );

    preview.src =
    URL.createObjectURL(file);

    preview.style.display =
    "block";

    empty.style.display =
    "none";

    detectBtn.disabled = false;

    detectBtn.innerHTML =
    "Detect Resistor";

});

// =====================
// LIVE CAMERA
// =====================

async function openCamera(){

    modal.classList.add(
    "show"
    );

    stream =
    await navigator.mediaDevices
    .getUserMedia({

        video:true

    });

    video.srcObject =
    stream;
}

function closeCamera(){

    stopDetection();

    showToast(
        "📷 Camera Closed"
    );

    modal.classList.remove(
    "show"
    );

    if(stream){

        stream.getTracks()
        .forEach(track=>track.stop());
    }
}

function startDetection(){

    if(detectionInterval){

        return;
    }

    showToast(
        "🟢 Live Detection Started"
    );

    document.getElementById(
    "liveStatus"
    ).innerHTML =
    "🟢 Detecting...";

    document.getElementById(
    "liveStatus"
    ).style.color =
    "#4ade80";

    detectionInterval =
    setInterval(
        captureImage,
        1500
    );
}

function stopDetection(){

    clearInterval(
        detectionInterval
    );

    detectionInterval = null;

    showToast(
        "🔴 Detection Stopped"
    );

    document.getElementById(
    "liveStatus"
    ).innerHTML =
    "🔴 Detection Stopped";

    document.getElementById(
    "liveStatus"
    ).style.color =
    "#ef4444";
}

function captureImage(){

    canvas.width =
    video.videoWidth;

    canvas.height =
    video.videoHeight;

    const ctx =
    canvas.getContext("2d");

    ctx.drawImage(
        video,
        0,
        0
    );

    canvas.toBlob(async blob=>{

        const formData =
        new FormData();

        formData.append(

            "image",

            blob,

            "live_camera.jpg"

        );

        try{
            

            const response =
            await fetch(
            
                "/live_detect",

                {

                    method:"POST",

                    body:formData

                }

            );


            const data =
            await response.json();


            if(!data.success){

                document.getElementById(
                "liveStatus"
                ).innerHTML =
                "🟡 Waiting for resistor...";

                document.getElementById(
                "liveStatus"
                ).style.color =
                "#facc15";

                return;
            }

            if(data.success){

                document
                .getElementById(
                "liveStatus"
                )
                .innerHTML =
                "🟢 Detecting...";

                document
                .getElementById(
                "liveStatus"
                )
                .style.color =
                "#4ade80";

                document
                .getElementById(
                "liveResult"
                )
                .style.display =
                "block";

                document
                .getElementById(
                "liveResultImage"
                )
                .src =
                data.result_image +
                "?t=" +
                Date.now();

                document
                .getElementById(
                "liveType"
                )
                .textContent =
                data.resistor_type;

                document
                .getElementById(
                "liveValue"
                )
                .textContent =
                data.result_value;

                document
                .getElementById(
                "liveTolerance"
                )
                .textContent =
                data.tolerance;

            }

        }catch(error){

            console.error(
                error
            );

        }

    },"image/jpeg");
}

// =====================
// LOADING
// =====================

form.addEventListener(
"submit",
()=>{

    loading.classList.add(
    "show"
    );

    detectBtn.innerHTML =
    "Scanning Resistor...";

    detectBtn.disabled = true;
});

// =====================
// AUTO SCROLL
// =====================

window.onload = ()=>{

    const detectSection =
    document.querySelector(
    ".detect-section"
    );

    if(detectSection){

        detectSection.scrollIntoView({

            behavior:"smooth"

        });

        const toast =
        document.getElementById(
        "toast"
        );

        toast.classList.add(
        "show"
        );

        setTimeout(()=>{

            toast.classList.remove(
            "show"
            );

        },3000);
    }
};

</script>

<footer class="footer">

    <p>

         © 2026 OhmVision 

    </p>

    <p>

        Resistor Detection Using YOLOv11s

    </p>

    <p>

        Developed by Kelompok 8 

    </p>

    <p>

        D4 - Teknik Elektronika POLBAN 

    </p>

</footer>

</body>
</html>